{include file="common/meta"}
<title>我的佣金</title>

<style>
    body{
        background: #F1F1F5;
    }
    .img{
        height: 80px;
        width: 80px;
        margin: 30px auto 0px;
        background: #ffb400;
        border-radius: 40px;
        color: #fff;
        font-size: 70px;
        text-align: center;
        line-height: 90px;
        background-size: 80px 80px;
    }
    .head{
        text-align: center;
        font-size: 20px;
        color: #666;
        line-height: 1.8;
    }
    .btn{
        width: 100%;
        height: 40px;
        margin-top: 30px;
        background: #31cd00;
        font-size: 18px;
        color: #fff;
        border: 1px solid #31cd00;
        border-radius: 4px;
    }
    .list{
        width: 100px;
        height: 25px;
        background: #f0ad4e;
        line-height: 25px;
        text-align: center;
        border-radius: 25px;
        color: white;
        margin: auto;
        margin-top: 30px;
    }

</style>
<body>
<div class="head">
    <img src="{$info.avatar}" alt="" class="img">
    <form id="forms">
        <div>
            <div>当前可提佣金</div>
            ￥<span style=" color: #333;font-weight: 700;" id="balance">{$info.money}</span>
            <br>
            <input type="text" value="" placeholder="请输入提现金额" name="money" id="money" style="width:100%;height: 35px;text-align: center;font-size: 18px;margin-top: 10px;border: 1px solid #dadada;">
        </div>
        <input type="hidden" name="user_id" value="{$info.id}">
        <div>
            <input type="button" class="btn" value="提交申请" style="background: #31cd00;color:white">
        </div>
    </form>
</div>
<div class="list"><a href="/index/finance/history" style="color: white">提现记录</a></div>
</body>
{include file="common/footer"}
<script>
    $('.btn').click(function () {
        var balance = $('#balance').html();
        var money = $('#money').val();
        if(money > balance || money == ''){
            layer.msg('提现金额有误');
            return false;
        }

        $.ajax({
            type:'post',
            data:$('#forms').serialize(),
            dataType:'json',
            url:'/index/finance/apply',
            success: function (data) {
                console.log(data);
                if(data.code == 200){
                    mui.toast(data.msg)
                    setTimeout(function () {
                        location.href = data.url;
                    },1500)
                }
            }
        })

    });
</script>
</html>