{include file="common/meta"}
<!--    <link rel="stylesheet" href="/index/layui-v2.5.4/layui/css/layui.css">-->
    <style type="text/css">
        body {
            padding:0px 0px 44px 0px;
            line-height: 1.6;
        }

        .padd10 {
            padding: 0px 10px;
        }

        .index-banner-phone .swiper-slide {
            height: 200px;
        }


        .index-banner-phone .swiper-slide img {
            width: 100%;
            height: 200px;
        }

        .swiper-pagination-bullet-active {
            background: #FFFFFF;
        }
        /*.suo{*/
        /*    font-size: 1vw;*/
        /*    -webkit-transform-origin-x: 0;*/
        /*    -webkit-transform: scale(0.80);*/
        /*}*/
        .cu{
            font-weight:800
        }
        .day-list{
            margin-bottom: 5%;
        }
        a{
            color:white
        }
        .font-text p{
            font-size: 12px;
            color: #666;
        }

        .mui-popup-button:first-child{
            border-radius: 0 0 0 13px;
        }
        .mui-popup-button{
            width: 100%;
            padding: 0 5px;
            height: 44px;
            font-size: 18px;
            line-height: 44px;
            text-align: center;
            color: #04be02;
            display: block;
            position: relative;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            background: rgba(255,255,255,.95);
        }


    </style>
</head>

<body>
<!-- <header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">首页</h1>
</header> -->
{include file="common/nav"}
<div class="header-top">
    <div class="mui-content">
        <div class="">
            <div class="nav-top">
                <div class="userimg">
                    <img src="{$info.avatar}" />
                </div>
                <div class="username" style="margin-left: 5%;">
                    <div class="name">
                        {$info.nickname}
                    </div>
                    <div class="usertype">
                        普通用户
                    </div>
                </div>
                <div class="mui-input-row mui-search">
                    <!--							<input type="search" style="margin-bottom:0px;    background: #eae8e8;border-radius: 20px;" class="mui-input-clear seachtext"-->
                    <!--							 placeholder="请输入">-->
                </div>
                <div class="mui-tab-item" style="position: relative;">
                    <!--							<span class="mui-icon mui-icon mui-icon-email" style="font-size: 30px;"><span class="mui-badge">5</span></span>-->
                </div>
                <div>
                   {if condition="$authstatus eq null"}
                    <button type="button" style="padding: 2px 5px;background-color: orange;border-radius: 20px;height: 24px;width: 80px;margin-right: 10px;font-size: 12px;color: white;border: 1px" class="mui-btn mui-btn-outlined">
                        <a href="/index/userinfo/save">我要认证</a>

                    </button>
                    {else}
                    <button type="button" style="padding: 2px 5px;background-color: orange;border-radius: 20px;height: 24px;width: 80px;margin-right: 10px;font-size: 12px;color: white;border: 1px" class="mui-btn mui-btn-outlined">
                        <a href="#">我要报名</a>
                    </button>
                    {/if}
                </div>
            </div>

        </div>

        <div class="banner">
            <div class="swiper-container index-banner-phone">
                <div class="swiper-wrapper">
                    {volist name="banner" id="b"}
                    <div class="swiper-slide">
                        <img src="{$b.image}" />
                    </div>
                    {/volist}

                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination" style="position: relative;margin-top: -7%"></div>
            </div>

        </div>

                        

        <div class="home-list padd10">
            <div class="item">
                <div class="item-img">
                    <img src="/index/images/1.png" />
                </div>
                <div class="item-nane">
                    企业发展
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="/index/images/3.png" />
                </div>
                <div class="item-nane">
                    企业发展
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="/index/images/4.png" />
                </div>
                <div class="item-nane">
                    企业发展
                </div>
            </div>

            <div class="item">
                <div class="item-img">
                    <img src="/index/images/6.png" />
                </div>
                <div class="item-nane">
                    企业发展
                </div>
            </div>



        </div>
        <!--				<div class="home-time padd10">-->
        <!--					<span class="title">限时免费</span>-->
        <!--					<a class="type-time">限时更多免费></a>-->
        <!--				</div>-->
        <!--&lt;!&ndash;				<div class="time-list padd10">&ndash;&gt;-->
        <!--&lt;!&ndash;					<ul>&ndash;&gt;-->
        <!--&lt;!&ndash;						<li class="active">&ndash;&gt;-->
        <!--&lt;!&ndash;							<div>即将开始</div>&ndash;&gt;-->
        <!--&lt;!&ndash;							<div>8:00-20:00</div>&ndash;&gt;-->
        <!--&lt;!&ndash;						</li>&ndash;&gt;-->
        <!--&lt;!&ndash;						<li>&ndash;&gt;-->
        <!--&lt;!&ndash;							<div>即将开始</div>&ndash;&gt;-->
        <!--&lt;!&ndash;							<div>8:00-20:00</div>&ndash;&gt;-->
        <!--&lt;!&ndash;						</li>&ndash;&gt;-->
        <!--&lt;!&ndash;						<li>&ndash;&gt;-->
        <!--&lt;!&ndash;							<div>即将开始</div>&ndash;&gt;-->
        <!--&lt;!&ndash;							<div>8:00-20:00</div>&ndash;&gt;-->
        <!--&lt;!&ndash;						</li>&ndash;&gt;-->
        <!--&lt;!&ndash;					</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;				</div>&ndash;&gt;-->
        <!--				<div class="list-li padd10">-->
        <!--					<ul>-->
        <!--						<li>-->
        <!--							<div class="li-itme">-->
        <!--								<div class="li-img">-->
        <!--									<img src="/index/images/banner1.jpg" />-->
        <!--								</div>-->
        <!--								<div class="li-itemtexrt">-->
        <!--									面纱硕大的号还是翻山倒海佛哈佛是否会说还是破飞-->
        <!--								</div>-->
        <!--								<div class="home-hidder">-->
        <!--									<div>-->
        <!--										<span class="mui-icon mui-icon-videocam money v-midder"></span>-->
        <!--										<span>8.0万观看</span>-->

        <!--									</div>-->
        <!--									<div class="money">-->
        <!--										￥<span>98</span>-->
        <!--									</div>-->
        <!--								</div>-->
        <!--							</div>-->
        <!--							<div class="li-itme">-->
        <!--								<div class="li-img">-->
        <!--									<img src="/index/images/banner2.jpg" />-->
        <!--								</div>-->
        <!--								<div class="li-itemtexrt">-->
        <!--									面纱硕大的号还是翻山倒海佛哈佛是否会说还是破飞-->
        <!--								</div>-->
        <!--								<div class="home-hidder">-->
        <!--									<div>-->
        <!--										<span class="mui-icon mui-icon-videocam money  v-midder"></span>-->
        <!--										<span>8.0万观看</span>-->

        <!--									</div>-->
        <!--									<div class="money">-->
        <!--										￥<span>98</span>-->
        <!--									</div>-->
        <!--								</div>-->
        <!--							</div>-->
        <!--							<div class="li-itme">-->
        <!--								<div class="li-img">-->
        <!--									<img src="/index/images/banner1.jpg" />-->
        <!--								</div>-->
        <!--								<div class="li-itemtexrt">-->
        <!--									面纱硕大的号还是翻山倒海佛哈佛是否会说还是破飞-->
        <!--								</div>-->
        <!--								<div class="home-hidder">-->
        <!--									<div>-->
        <!--										<span class="mui-icon mui-icon-videocam  money v-midder"></span>-->
        <!--										<span>8.0万观看</span>-->

        <!--									</div>-->
        <!--									<div class="money">-->
        <!--										￥<span>98</span>-->
        <!--									</div>-->
        <!--								</div>-->
        <!--							</div>-->
        <!--							<div class="li-itme">-->
        <!--								<div class="li-img">-->
        <!--									<img src="/index/images/banner1.jpg" />-->
        <!--								</div>-->
        <!--								<div class="li-itemtexrt">-->
        <!--									面纱硕大的号还是翻山倒海佛哈佛是否会说还是破飞-->
        <!--								</div>-->
        <!--								<div class="home-hidder">-->
        <!--									<div>-->
        <!--										<span class="mui-icon mui-icon-videocam money  v-midder"></span>-->
        <!--										<span>8.0万观看</span>-->

        <!--									</div>-->
        <!--									<div class="money">-->
        <!--										￥<span>98</span>-->
        <!--									</div>-->
        <!--								</div>-->
        <!--							</div>-->
        <!--						</li>-->
        <!--					</ul>-->
        <!--				</div>-->
        <div class="day-list padd10">
            <div class="title cu" style="float: left;">热门推荐</div>
            <!--					<div style="float: right;font-size: 12px;color: #666;">更多></div>-->
            <br>
            <!--					<ul>-->
            {volist name="course" id="c"}
            <a onclick="tips('{$c.price}','{$c.id}')">
                <li>
                    <div class="dat-top content-fixe">
                        <div class="img">
                            <img src="{$c.image}" height="90"/>
                        </div>
                        <div class="font">
                            <div class="title">
                                {$c.title}
                            </div>
                            <div class="font-text">
                                {$c.coursecontent}
                            </div>
                            <div class="font-bottom content-fixe">
                                <div class="suo">
                                    <span class="iconfont mv-midder">&#xe61d;</span>
                                    <span class="">{$c.studynum}人学习过</span>
                                </div>
                                <div class="suo">
                                    <span class="iconfont v-midder">&#xe64d;</span>
                                    <span class="r">{$c.chapter_num}集</span>
                                </div>
                                <div class="money suo">{if condition="$c.price eq 0"}免费{else}￥{$c.price}元{/if}</div>
                            </div>
                        </div>
                    </div>

                </li>
            </a>
           {/volist}
            <!--					</ul>-->
        </div>
        <div class="day-list padd10">
            <div class="title cu" style="float: left;">最新上架</div>
            <!--					<div style="float: right;font-size: 12px;color: #666;">更多></div>-->
            <br>
            <!--					<ul>-->
                <li>
                    <div class="dat-top content-fixe">
                        <div class="img">
                            <img src="/index/images/20190822111531.jpg" height="90"/>
                        </div>
                        <div class="font">
                            <div class="title">
                                商业仲裁视频全集达到阿萨德按时发斯蒂芬撒答复
                            </div>
                            <div class="font-text">
                                是的发生的是方法是红薯粉破丰厚的是佛isad哈佛怕到时候富婆啥都符合粉红色doif后生地黄佛山佛山店和佛山敌后方藕丝大活佛is大活佛是建凡酒叟的积分董事局佛是建凡
                            </div>
                            <div class="font-bottom content-fixe">
                                <div class="suo">
                                    <span class="iconfont mv-midder">&#xe61d;</span>
                                    <span class="">12.03万人学习过</span>
                                </div>
                                <div class="suo">
                                    <span class="iconfont v-midder">&#xe64d;</span>
                                    <span class="r">11集</span>
                                </div>
                                <div class="money suo">￥368元</div>
                            </div>
                        </div>
                    </div>
                    <!-- 	<div class="day-bottom content-fixe">
                            <div class="mui-icon mui-icon-star"></div>
                            <div class="mui-icon mui-icon-chatbubble money"></div>
                            <div><span class="mui-icon mui-icon-undo money"><span class="" style="font-size: 12px;">分享</span></span></div>
                        </div> -->

                </li>
            <li>
                <div class="dat-top content-fixe">
                    <div class="img">
                        <img src="/index/images/20190822111531.jpg" height="90"/>
                    </div>
                    <div class="font">
                        <div class="title">
                            233sfafsaf
                        </div>
                        <div class="font-text">
                            是的发生的是方法是红薯粉破丰厚的是佛isad哈佛怕到时候富婆啥都符合粉红色doif后生地黄佛山佛山店和佛山敌后方藕丝大活佛is大活佛是建凡酒叟的积分董事局佛是建凡
                        </div>
                        <div class="font-bottom content-fixe">
                            <div class="suo">
                                <span class="iconfont mv-midder">&#xe61d;</span>
                                <span class="">12.03万人学习过</span>
                            </div>
                            <div class="suo">
                                <span class="iconfont v-midder">&#xe64d;</span>
                                <span class="r">11集</span>
                            </div>
                            <div class="money suo">￥368元</div>
                        </div>
                    </div>
                </div>
                <!-- 	<div class="day-bottom content-fixe">
                        <div class="mui-icon mui-icon-star"></div>
                        <div class="mui-icon mui-icon-chatbubble money"></div>
                        <div><span class="mui-icon mui-icon-undo money"><span class="" style="font-size: 12px;">分享</span></span></div>
                    </div> -->

            </li>
            <!--					</ul>-->
        </div>
        <div class="day-list padd10">
         <div class="title cu" style="float: left;">精选资料</div>
            <!--					<div style="float: right;font-size: 12px;color: #666;">更多></div>-->
            <br>
            <!--					<ul>-->
            {volist name="notice" id="n"}
            <li>
                <div class="dat-top content-fixe">
                    <div class="img" style="margin-top: 3%;">
                        <img src="{$n.image}" height="90"/>
                    </div>
                    <div class="font">
                        <div class="title">
                            {$n.name}
                        </div>
                        <div class="font-text" style="-webkit-line-clamp: 3">
                            {$n.content}
                        </div>
                        <!--                        <div class="font-bottom content-fixe">-->
                        <!--                            <div class="suo">-->
                        <!--                                <span class="iconfont mv-midder">&#xe61d;</span>-->
                        <!--                                <span class="">12.03万人学习过</span>-->
                        <!--                            </div>-->
                        <!--                            <div class="suo">-->
                        <!--                                <span class="iconfont v-midder">&#xe64d;</span>-->
                        <!--                                <span class="r">11集</span>-->
                        <!--                            </div>-->
                        <!--                            <div class="money suo">￥368元</div>-->
                        <!--                        </div>-->
                    </div>
                </div>


            </li>
            {/volist}

            <!--					</ul>-->
        </div>

    </div>
</div>

<input type="hidden" id="authstatus" value="{$authstatus}">
{include file="common/footer"}
<script src="/index/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    mui.init();

    // 手机端轮播
    // var mySwiper = new Swiper('.index-banner-phone', {
    //     loop: true, // 循环模式选项
    //     autoplay: true,
    //     // 如果需要分页器
    //     pagination: {
    //         el: '.swiper-pagination',
    //     },
    //
    // });
    var mySwiper = new Swiper(".index-banner-phone",{
        autoplay:3000,
        loop:true,
        autoplayDisableOnInteraction:false,
        pagination:".swiper-pagination",
        paginationClickable:true,
        effect:"flip"
    })


    //判断是否认证  且是否免费
    function tips(price,course_id){
        if(price == 0){
            location.href='/index/video/index/course_id/'+course_id;
        }else{
            mui.confirm("此课程需要购买后才能学习，是否立即购买？",'温馨提示',['购买','取消'],function(e){
                // console.log(e);

                var user_id = {$info.id};//当前用户ID

                if(e.index == 0){
                    // console.log('确定');
                    var authstatus = $('#authstatus').val();

                    //不为空即已认证
                    // if(authstatus != '') location.href = '/index/order/confirm';
                    if(authstatus != ''){
                        $.ajax({
                            type:'post',
                            data:{user_id:user_id,course_id:course_id},
                            dataType:'json',
                            url:'/index/order/ispay',
                            success: function (data) {
                                console.log(data);
                                if(data.code == 200){

                                    location.href = data.url+'/user_id/'+user_id+'/course_id/'+course_id;
                                }else{
                                    mui.confirm(data.msg,'温馨提示',['是否前往','取消'],function (e) {
                                        if(e.index == 0){
                                            location.href=data.url+'/user_id/'+user_id;
                                        }
                                    })
                                }
                            },
                            error: function () {
                                console.log('error');
                            }
                        })
                        // location.href = '/index/order/confirm/user_id/'+user_id+'/course_id/'+course_id;
                    }else{
                        mui.confirm("请先完善你的个人信息",'温馨提示',['立即前往','取消'],function(e){
                            if(e.index == 0) location.href='/index/userinfo/save';
                        })
                    }



                }
            });
        }




    }
    function aa(){

        location.href = '/index/pay/prePay';

    }

    // $('.tab-item').on('click',function () {
    //     // var index = $(this).index();
    //     $(this).addClass("active").siblings().removeClass("active");
    //     // $(".redpacket-con").eq(index).show().siblings(".redpacket-con").hide();
    //     // $(this).css('color','red');
    //
    // });



</script>

</body>

</html>
