{include file="common/meta"}
<title>佣金明细</title>
<style>
    body{
        background: #f7f7f7;
    }
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;min-width: 20px;}
    .pagination .active{background-color: #c8c7cc;color: #fff;}
    .pagination .disabled{color:#aaa;}
    a{
        color: #999;
    }
</style>
<div>
    {volist name="data" id="vo" empty="<img src='/index/images/loaded.png' width='300' style='margin-left: 10%;margin-top: 30px;'>"}
    <div style="width:100%;height: 90px;background: white;margin-bottom: 10px;">
    <div style="padding: 5px 5% 5px 5%">
        <div style="position: relative">
            <div style="float: left;">
                <span>订单号：{$vo.order_no}</span>
            </div>
            <div style="float: right">{$vo.createtime|date="Y-m-d",###}</div>
        </div>
        <br>
        <div style="position: relative;margin-top:10px;">
            <div style="float: left">
                <img src="{$vo.avatar}" alt="" width="50" style="border-radius: 25px;">
            </div>
            <div style="float: left;line-height: 1.5;margin-top: 5px;margin-left: 5px;">
                <div>
                    <span>{$vo.nickname}（{if condition="$vo.name neq null"}{$vo.name}{else}未填写{/if}）</span><br>
                    <span>{if condition="$vo.phone neq null"}{$vo.phone}{else}未填写{/if}</span>
                </div>
            </div>
            <div style="float: right;line-height: 1.5;margin-top: 20px;">
                <span style="width:100px;height: 30px;color:#e2892a">+ {$vo.money}</span><br>
            </div>
        </div>
    </div>
</div>
    {/volist}

    {$data->render()}
</div>
{include file="common/nav"}
{include file="common/footer"}